/* src/SignUpForm.css */

.card-header h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .card-header p {
    margin: 0;
    font-size: 0.9rem;
    color: #888;
  }
  
  .tab-content {
    margin-top: 20px;
  }
  
  .form-check {
    display: inline-block;
    margin-right: 10px;
  }

  .agent-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 45%;
  }

.form-group input,
.form-group select {
  margin-bottom: 1rem; /* Add margin-bottom to all input and select fields */
  padding: 0.75rem 1rem; /* Add custom padding to all input and select fields */
}

  /* src/SignUpForm.css */

.flex-fill {
  flex: 1;
}
.ml-3 {
  margin-left: 1rem;
}

  